<!-- <div class="row">   
  <div class="col-md-8">
    <h2>Welcome to Registration</h2>
  </div>
</div>           
<div class="row">
  <div class="col-md-8">
    <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
      <div  class="from-group">
        <label for="firstName" >  First Name  </label>
        <input
          style ="margin-left:0.50%;"
          type="text"
          class="from-control"
          id="fris-name"
          placeholder="Frist Name"
          name="firstName"
          ngModel
        />
      </div>
      <div class="form=group">
        <label for="lastName">  Last Name  </label>
        <input
        style ="margin-left:0.50%;"
          type="text"
          class="from-control"
          id="last-name"
          placeholder="Last Name"
          name="lastName"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="email" class="email"> Email </label>
        <input
          id="email"  
          type="text"
          required
          name="email"
          validateEmail
          class="form-control email" style="width:20%;"
          placeholder="Email"
          ngModel
          #email="ngModel"
        >
        <small
          [hidden]="email.valid || (email.pristine && !submitted)"
          class="text-danger"
          >Некорректный Email</small
        >
      </div>
      <div class="from-group">
        <label for="password">  Password  </label>
        <input
          typr="password"
          class="form-control"style="width:20%;"
          id="password"
          name="password"
          placeholder="Password"
          ngModel
        />
      </div>
      <div class="from-group">
        <button
          type="submit"
          class="btn bnt-primary"
          [disabled]="f.invalid || isRequesting"
        >
          Sing Up
        </button>
      </div>
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{ errors }}
      </div>
    </form>
  </div>
</div> -->

<form class = "text-center">
  <p class = "Sing">Sing up</p>

  <div class = "form-row">
  <div class = "col">
    <input type = "text" id = "textName" class = "form-control" placeholder="First Name">
  </div>
  <div class = "col">
   <input type = "text" id = "textName" class = "form-control" placeholder="Last Name">
   </div>
   </div>
</form>