.text-center
{
    border: 4px double black; /* Параметры границы */
    background: rgb(222, 247, 255); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */ 
}
.form-control
{
    width: 50%
}